@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --radius: 0.5rem;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  section[aria-label='Notifications alt+T'] {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@layer utilities {
  .theme-wood {
    --board-light: #f0d9b5;
    --board-dark: #b58863;
  }
  .theme-charcoal {
    --board-light: #ebecd0;
    --board-dark: #779556;
  }
  .theme-blue {
    --board-light: #dee3e6;
    --board-dark: #8ca2ad;
  }

  @keyframes pulse-red {
    0% {
      box-shadow: inset 0 0 0 0 rgba(239, 68, 68, 0);
    }
    50% {
      box-shadow: inset 0 0 25px 5px rgba(239, 68, 68, 0.9);
      background-color: rgba(239, 68, 68, 0.5);
    }
    100% {
      box-shadow: inset 0 0 0 0 rgba(239, 68, 68, 0);
    }
  }

  .pulse-check {
    animation: pulse-red 2s infinite ease-in-out;
    background-color: rgba(239, 68, 68, 0.3) !important;
  }
}
